<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head><title th:text="${pageTitle} + ' Düzenle - UNISIS'">UNISIS</title></head>
<body>
<div layout:fragment="content" class="container py-4">
  <div class="mb-4">
    <h2 th:text="${pageTitle + ' Düzenle'}">Kullanıcı Düzenle</h2>
  </div>
  <form th:action="@{'/' + ${rolePath} + '/' + ${user.id} + '/duzenle'}"
        th:object="${user}" method="post" class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">İsim</label>
      <input type="text" id="name" th:field="*{name}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label for="department" class="form-label">Bölüm</label>
      <select id="department" th:field="*{department.id}" class="form-control" required>
        <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">E-posta</label>
      <input type="email" id="email" th:field="*{email}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label for="schoolNumber" class="form-label">Okul No</label>
      <input type="text" id="schoolNumber" th:field="*{schoolNumber}" class="form-control" maxlength="11"
      pattern="^\d{11}$">
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Şifre</label>
      <input type="password" id="password" th:field="*{password}" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Telefon Numarası</label>
      <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" maxlength="17"
             required
             placeholder="0 (5__) ___ __ __">
    </div>
    <div class="col-md-6">
      <label for="receipt" class="form-label">Dekont (Dosya)</label>
      <input type="file" id="receipt" name="receipt" class="form-control">
      <div th:if="${user.receipt != null}">
        <small class="text-success">Daha önce yüklenmiş bir dosya var.</small>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Kaydet</button>
      <a th:href="@{'/' + ${rolePath}}" class="btn btn-secondary ms-2">İptal</a>
    </div>
  </form>
  <div class="col-12 text-end mt-3">
    <form th:action="@{'/' + ${rolePath} + '/' + ${user.id} + '/sil'}" method="post"
          onsubmit="return confirm('Bu kullanıcıyı silmek istediğinizden emin misiniz?');"
          style="display: inline;">
      <button type="submit" class="btn btn-danger">Kullanıcıyı Sil</button>
    </form>
  </div>
</div>
</body>
</html>
