.bg-bordo {
    background-color: #8C373E;
}
.logo {
  height: 60px;
  max-width: 200px;
  margin-left: -20px;
}
.navbar {
  height: 75px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav:first-child {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: bold !important;
}
a {
  text-decoration: none !important;
}