<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="footer bg-bordo text-white pt-5 px-4">
        <div class="container">
            <div class="row text-center text-md-start">
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold">BİZİ TAKİP EDİN</h5>
                    <div class="d-flex justify-content-center justify-content-md-start gap-2 mt-2 text-md-start">
                        <a href="https://www.instagram.com/salih_koc20/"><img
                                src="/uploads/images/instagram-logo.png" width="24" alt="Instagram"/></a>
                    </div>
                </div>
                <div class="col-md-6 mb-3 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="ps-4">
                        <img class="logo pb-3" href src="/uploads/images/estu-logo.png" alt="">
                    </div>
                    <span>Tüm hakları saklıdır.
                    <a class="text-white" href="https://www.instagram.com/salih_koc20/">Muhammed Salih Koç</a>
                    </span>
                    <p>© 2025</p>
                </div>
                <div class="col-md-3 mb-4 text-md-end">
                    <h5 class="fw-bold">İLETİŞİM</h5>
                    <p class="mb-0">estu@ogr.eskisehir.edu.tr</p>
                    <p>Eskişehir, Türkiye</p>
                </div>

            </div>
        </div>
    </footer>
</div>
</html>
