<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/base}">
<head><title>Anasayfa - UNISIS</title></head>
<body>
<div layout:fragment="content">
    <h1 class="display-5 mb-3">Hoşgeldiniz</h1>
    <p class="lead mb-4">
        <strong>Admin Paneline</strong> giriş yaptınız.<br>
        Buradan siteyi ve üyelik işlemlerini kolayca yönetebilirsiniz.
    </p>
    <div class="row mt-4">
        <div class="col-6 col-md-4 mb-3 text-center">
            <div class="border rounded-4 py-3 bg-light">
                <div class="fw-bold fs-2 mb-1 text-bordo">1081</div>
                <div class="small">Toplam Öğrenci</div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 text-center">
            <div class="border rounded-4 py-3 bg-light">
                <div class="fw-bold fs-2 mb-1 text-bordo">45</div>
                <div class="small">Bekleyen Kayıt Onayı</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 text-center">
            <div class="border rounded-4 py-3 bg-light">
                <div class="fw-bold fs-2 mb-1 text-bordo">49 gün</div>
                <div class="small">Dönemin Bitmesine Son</div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 col-md-4 mb-3 text-center">
            <div class="border rounded-4 py-3 bg-light">
                <div class="fw-bold fs-2 mb-1 text-bordo">27</div>
                <div class="small">Toplam Öğretmen</div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3 text-center">
            <div class="border rounded-4 py-3 bg-light">
                <div class="fw-bold fs-2 mb-1 text-bordo">65</div>
                <div class="small">Toplam Ders</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 text-center">
            <div class="border rounded-4 py-3 bg-light">
                <div class="fw-bold fs-2 mb-1 text-bordo">Yaz Dönemi</div>
                <div class="small">Aktif Dönem</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
